
  #bread-crumb{
    background: #004953;
    color: white;
    padding: 7px;
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }
  .fa-heart{
    margin-bottom: 7px;
    color: #e53935;
  }
 .product-image-view img{
   margin-top: 5px;
   border: 2px solid rgba(0,0,0,0.3);
   transition: .3s ease-in-out;
  }
  .product-image-view img:hover{
    transform: scale(1.1);
    border: 2px solid rgba(0,0,0,0.5);
  }
  .love i{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
  }

  /* product name and catagory section style */
  /* product price, discount and in-stock section */
  #add-cart-btn, #buy-now-btn{
    font-size: 20px;
    color: white;
    background: orange;
    padding: 7px 40px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 5px;
    border-radius: 3px;
  }
  #buy-now-btn{
    background: #ff6f00;
  }
  .pro-title-cata{
    padding-top: 7px;
  }
  .pro-title-cata #pro-title{
    font-weight: 600;
    font-size: 25px;
    color: grey;
  }
  .pro-title-cata #pro-cata{
    font-weight: 600;
    font-size: 18px;
    color: grey;
  }
  .pro-price-disc #rs{
    font-size: 18px; 
    font-weight: 600;
  }
  .pro-price-disc #price{
    font-weight: 700;
    font-size: 27px;
    font-family: sans-serif; 
  }
  .pro-price-disc #discount{
    font-weight: 600;
    font-size: 17px;
    color: green;
    font-family: sans-serif;
  }
      .pro-price-disc #in-stock{
        font-weight: 600;
        font-size: 15px;
        color: grey;
        font-family: sans-serif;
        padding-left: 10px;
      }
      #itm-num{
        color: red;
        font-size: 18px;
      }
      /* product color section section style */
      #product-colors{
        margin-top: 10px;
      }
      #product-colors img{
        border-radius: 50%;
        border: 2px solid grey;
        padding: 5px;
        height: 80px;
        width: 80px;
        margin-right: 4px;
      }
      /* product size section style */
      #product-size{
        margin-top: 10px;
      }
      #product-size span{
        color: grey;
        font-size: 18px;
        font-weight: 700;
        padding-right: 10px;
      }
      #product-size li{
        list-style: none;
        display: inline;
        font-weight: 600;
        font-size: 20px;
        border: 2px solid rgba(0,0,0,0.2);
        padding: 2px 5px;
        border-radius: 4px;
        margin-left: 10px;
      }
      #product-size li:hover {
        cursor: pointer;
        border-color: rgba(0,0,0,0.4);
      }
      /* product details section style */
      .product-details p{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: -5px;
      }
      #color, #type, #name, #package{
        list-style: none;
        color: grey;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 2px;
        margin-right: 15px;
      }
      #color-value, #type-value, #name-value, #package-value{
        list-style: none;
        font-size: 17px;
        font-weight: 600;
      }

  /* Similar Product Section Style Starts */
  .contents{
    background: white;
    margin: 5px;
    padding: 10px;
  }
  .deal-header{
    font-size: 18px;
    font-weight: bold;
  }
  .deal-header .view-all-btn{
    background: blue;
    font-size: 14px;
    padding: 6px 10px;
  }
  .name{
    margin-top: 5px;
    font-weight: 650;
  }
  .discount{
    color: green;
    font-weight: 450;
  }
  .deal{
    color: grey;
  }
  .product img{
    height: 150px;
    transition: .1s ease;
  }
  .product img:hover{
    transform: scale(1.1);
  }
  .shop-now{
    margin-top: 5px;
    background: #0277bd;
   
  }
  .shop-now a{
    color: white;
    padding: 4px;
    font-weight: 450;
  }
  .shop-now:hover{
    background: #01579b;
  }
  .view-all-btn{
    border: none;
    color: white;
    font-weight: 500;
  }/* Similar Product Section Style Ends */

  @media (max-width: 1280px){
    #add-cart-btn,#buy-now-btn{
      font-size: 18px;
    }
  }
  
  @media (max-width: 1024px){
  .product-img{
    margin-top: 40px;
    }
    #add-cart-btn,#buy-now-btn{
      font-size: 18px;
      padding: 5px 20px;
      margin-left: 5px;
    }

  }
  @media (max-width: 800px){
  .product-image-view img{
    width: 60px;
    height: 60px;
  }
  #add-cart-btn{
      margin-left: 60px;
    }
 }
  @media (max-width: 640px){
  .product-image-view img{
    width: 60px;
    height: 60px;
  }
  }
  @media (max-width: 480px){
    .product-img{
    margin-top: -80px;
   }
    .product-image-view img{
    width: 50px;
    height: 50px;
    }
    #add-cart-btn{
      margin-left: 120px;
      font-size: 20px;
      padding: 10px;
    }
    #buy-now-btn{
      font-size: 20px;
      padding: 10px;
    }
  }

  @media (max-width: 414px){
    .product-image-view img{
      width: 50px;
      height: 50px;
      }
      .product-img{
        margin-top: -100px;
      }
      #add-cart-btn, #buy-now-btn{
      font-size: 20px;
      padding: 5px;
    }
    #add-cart-btn{
      margin-left: 40px;
    }
  }

  @media (max-width: 320px){
  .product-image-view img{
    width: 60px;
    height: 60px;
  }
  .product-img{
    margin-top: 40px;
    }
    #add-cart-btn, #buy-now-btn{
      font-size: 14px;
      padding: 5px;
    }
    #add-cart-btn{
      margin-left: 0px;
    }
  }

  /*users rating and review */
  #rating-section{
    padding: 10px;
    border-radius: 3px;
    margin-top: -20px;
  }
  .rating #title{
    font-weight: 700;
    font-size: 20px;
 }
 .rating #total-rate{
  font-weight: 600;
  background: green;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
 }
 .rating #rating-review{
  color: grey; 
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
 }
 .rating .btn-rate{
  color: white; 
  background: green; 
  padding: 4px 7px;
  border-radius: 3px;
 }
 .rating #full-rate{
    background: green; 
    color: white;
    padding: 7px 10px; 
    border-radius: 4px;
 }
 .rating #users-review{
  color: grey; 
  font-weight: 500;
 }
 .t-up{
  margin-left: 10px;
  font-size: 30px; 
  color: #c62828;
 }
 .users-name{
  margin-top: 10px; 
  font-weight: 600;
  color: grey;
 }
 .users-name #review-date{
    margin-left: 20px;
    font-weight: 400;
 }
 .users-name #thumb{
  font-size: 22px;
 }
 .users-name #thumb-up, #thumb-down{
  background: #388e3c; 
  color: white; 
  padding: 4px 6px; 
  border-radius: 4px;
 }
 .users-name #thumb-down{
  background: #c62828;
 }
 .certified-user{
  font-weight: 500;
  color: grey;
 }
 .certified-user #cert-icon{
  font-size: 20px;
 }
 .certified-user #cert-title{
    font-weight: 400;
 }
 .certified-user #users-location{
  margin-left: 20px;
 }
 .rating #users-question{
    font-size: 20px;
    font-weight: 700;
 }
 .btn-post-qst{
  color: white; 
  background: green; 
  padding: 4px 7px;
  border-radius: 3px;
 }
 .QA{
    color: grey;
    font-weight: 500;
 }
 /*comment section styling*/
 #comment-sender,#comment-write{
  border: 2px solid grey;
  outline: none;
  border-radius: 5px;
  padding-left: 3px;
  height: 40px;
 }
 #comment-sender:hover,
 #comment-sender:focus,
 #comment-write:hover,
 #comment-write:focus{
  border-color: green;
 }
 #post-btn{
  margin-top: 2px;
  border: none;
  padding: 7px 15px; 
  background: grey; 
  color: white; 
  font-weight: 600; 
  letter-spacing: 1px; 
  border-radius: 3px
 }
 #sender-details{
  background: grey; 
  color: white; 
  font-size: 16px; 
  padding: 7px 15px;
 }
 #comment{
  background: lightgrey;
  padding: 7px 25px;
 }
 #reply-btn{
  margin-top: 2px;
  border: none;
  padding: 7px 15px; 
  background: grey; 
  color: white; 
  font-weight: 600; 
  letter-spacing: 1px; 
  border-radius: 3px;
 }